<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Dosya veya klasör değilse index.php'ye yönlendir
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # Tüm isteği 'url' parametresi olarak index.php'ye gönder
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
